/* Estilo para los enlaces *
.nav-link {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

  /*.navbar{
    text-decoration: none;
    color:#1f1f1f;
    /*color:white;*
    font-size: 16px;
    font-weight: bold;
    padding: 14px 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
  
  .nav-link:hover {
    color: green;
  }
  
  /* Centrando el navbar en pantallas grandes *
  @media (min-width: 992px) {
    .navbar {
      justify-content: center;
      padding: 1rem 0;
    }
  }
  
  /* Dropdown para pantallas pequeñas *
  @media (max-width: 991px) {
    .navbar {
      justify-content: start;
    }
  
    .navbar-toggler {
      border: none;
      background: transparent;
      color: black;
    }
  
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
  }
  */

  .nav-link:hover {
    color: orangered;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }

.label{
    background-color: #1f1f1f;
  color: #f5f6f7;
}